[submodule "dependencies/Box2D"]
	path = dependencies/Box2D
	url = https://github.com/erincatto/Box2D
[submodule "dependencies/enet"]
	path = dependencies/enet
	url = https://github.com/lsalzman/enet
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui
[submodule "dependencies/SFML"]
	path = dependencies/SFML
	url = https://github.com/SFML/SFML
[submodule "dependencies/EASTL"]
	path = dependencies/EASTL
	url = https://github.com/electronicarts/EASTL
[submodule "dependencies/mathfu"]
	path = dependencies/mathfu
	url = https://github.com/google/mathfu
[submodule "dependencies/tmxlite"]
	path = dependencies/tmxlite
	url = https://github.com/fallahn/tmxlite
